/*==================================
=            Alignments            =
==================================*/
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }

.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none; }
