html * {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--global-font-family);
  font-weight: var(--font-weight-regular);
  text-rendering: optimizeLegibility;
}

/*=============================================>>>>>
= Site Container =
===============================================>>>>>*/
.site-container {
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}
