/*===================================
=            Font Colors            =
===================================*/
.white { color: var(--white); }
.black { color: var(--black); }

.vitamin-c { color: var(--vitamin-c); }
.route-six { color: var(--route-six); }
.steady-grey { color: var(--steady-grey); }
.bc { color: var(--bc); }
.gamebookers-blue { color: var(--gamebookers-blue); }

/*=========================================
=            Background Colors            =
=========================================*/
.bg-white { background-color: var(--white); }
.bg-black { background-color: var(--black); }

.bg-vitamin-c { background-color: var(--vitamin-c); }
.bg-route-six { background-color: var(--route-six); }
.bg-steady-grey { background-color: var(--steady-grey); }
.bg-bc { background-color: var(--bc); }
.bg-gamebookers-blue { background-color: var(--gamebookers-blue); }