fieldset,
input,
textarea {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

input,
textarea {
  background-color: var(--input-color) !important;
  border: 1px solid var(--input-color);
  color: var(--white);
  padding: 0.5em;
  transition: border 0.3s ease-in;

  &:focus {
    outline: 0;
    border: 1px solid var(--input-color-darker);
  }
}

label {
  color: var(--white);
  font-family: var(--header-font-family);
  font-size: var(--text-xx-small);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 4px;

  & span {
    color: color(var(--black) tint(15%));
  }
}

.wpcf7-form fieldset.half {
  width: 48%;
  margin-right: 4%;
  float: left;
  margin-bottom: 1em;

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

.wpcf7-form textarea {
  margin-bottom: 1em;
}

.wpcf7-form  input[type="submit"] {
  border: 0 !important;
  background-color: var(--mantis) !important;
  font-family: var(--header-font-family);
  font-size: var(--text-xx-small);
  text-transform: uppercase;
  padding: 10px 10px 8px 10px;
  display: inline-block !important;
  width: auto !important;
  float: right;
}

/* Custom Variables */
:root {
  --input-color: color(var(--black) tint(20%));
  --input-color-darker: color(var(--black) tint(30%));
}
