.scrollable {
  overflow: auto;
  max-height: 300px;
}

.scrollable::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.scrollable::-webkit-scrollbar-track-piece {
  width: 10px !important;
  background: none !important;
}

.scrollable::-webkit-scrollbar-thumb:vertical,
.scrollable::-webkit-scrollbar-thumb:horizontal {
  width: 10px !important;
  border-radius: 1000px !important;
  background: var(--black) !important;
}

.small-scroll {
  max-height: 100px;
}

.medium-scroll {
  max-height: 250px;
}

.large-scroll {
  max-height: 400px;
}

.x-large-scroll {
  max-height: 500px;
}