@prefix bs;

.scrollable {
  @mixin scrollable;
}

.scrollable-dark {
  @mixin scrollable var(--maven-ebony);
}

.container-scrollable {
  overflow: scroll;
  display: block;
  max-height: 9999px;
  padding: 4em 0 5em;
  height: 100%;
  position: relative;

  &.has-loading {
    padding-bottom: 20em;
  }
}
