[rel="tooltip"],
[tooltip] {
  cursor: pointer;
}

@prefix bs;

/* .tooltip {
  position: absolute;
  z-index: 9999;
  border-radius: var(--border-radius);
  background: var(--tooltip-background);
  color: var(--white);
  text-align: center;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 1.1;
  word-wrap: break-word;
  padding: 0.75em 0.95em;

  &::before {
    content: "";
    border: var(--tooltip-arrow-width) solid transparent;
    position: absolute;
  }

  &.top {
    margin-top: -calc(var(--tooltip-arrow-width) + var(--tooltip-offset));

    &::before {
      border-top-color: var(--tooltip-background);
      top: 100%;
      left: 50%;
      margin-left: -var(--tooltip-arrow-width);
    }
  }

  &.right {
    margin-right: -calc(var(--tooltip-arrow-width) + var(--tooltip-offset));

    &::before {
      border-left-color: var(--tooltip-background);
      right: calc(var(--tooltip-arrow-width) * -2);
      top: 50%;
      margin-top: -var(--tooltip-arrow-width);
    }
  }

  &.bottom {
    margin-top: -calc(var(--tooltip-arrow-width) + var(--tooltip-offset));

    &::before {
      border-bottom-color: var(--tooltip-background);
      top: -var(--tooltip-arrow-width);
      left: 50%;
      margin-left: -var(--tooltip-arrow-width);
    }
  }

  &.left {
    margin-left: -calc(var(--tooltip-arrow-width) + var(--tooltip-offset));

    &::before {
      border-right-color: var(--tooltip-background);
      left: calc(var(--tooltip-arrow-width) * -2);
      top: 50%;
      margin-top: -var(--tooltip-arrow-width);
    }
  }
}

* Gives a max-width to the tooltip, which can't be
* achieved on .tooltip due to it being absolutely positioned
*/
.tooltip-inner {
  max-width: 15em;
}

:root {
  --tooltip-background: var(--black);
  --tooltip-arrow-width: 10px;
  --tooltip-offset: 3;
}
