/* Headings */
@custom-selector :--headings h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6;

:--headings {
  font-family: var(--header-font-family);
  font-weight: var(--font-weight-light);
  line-height: var(--header-line-height);
}

h1, .h1 { font-size: var(--h1); }
h2, .h2 { font-size: var(--h2); }
h3, .h3 { font-size: var(--h3); }
h4, .h4 { font-size: var(--h4); }
h5, .h5 { font-size: var(--h5); }
h6, .h6 { font-size: var(--h6); }

/* Font-Sizes */
.font-xxx-large { font-size: var(--font-xxx-large); }
.font-xx-large { font-size: var(--font-xx-large); }
.font-x-large { font-size: var(--font-x-large); }
.font-large { font-size: var(--font-large); }
.font-x-medium { font-size: var(--font-x-medium); }
.font-medium { font-size: var(--font-medium); }
.font-default { font-size: var(--font-default); }
.font-small { font-size: var(--font-small); }
.font-x-small { font-size: var(--font-x-small); }
.font-xx-small { font-size: var(--font-xx-small); }

/* Font-Weights */
.font-light { font-weight: var(--font-weight-light); }
.font-regular { font-weight: var(--font-weight-regular); }
.font-semibold { font-weight: var(--font-weight-semibold); }
.font-bold { font-weight: var(--font-weight-bold); }
.font-extrabold { font-weight: var(--font-weight-extrabold); }
.font-black { font-weight: var(--font-weight-black); }

/* Line-Heights */
.line-height-large { line-height: var(--line-height-large); }
.line-height-default { line-height: var(--line-height-default); }
.line-height-small { line-height: var(--line-height-small); }
.line-height-normal { line-height: var(--line-height-normal); }

p {
  line-height: var(--line-height-default);
  font-weight: 300;
}

b, strong {
  font-weight: 700;
}

/* Text-Styles */
.text-normal { font-style: var(--text-normal); }

/* Text-Transforms */
.text-no-style { text-transform: var(--text-transform-none); }
.text-uppercase, .text-upper { text-transform: var(--text-transform-uppercase); }
.text-lowercase, .text-lower { text-transform: var(--text-transform-lowercase); }

/* Text-Spacing */
.letter-spacing-loose { letter-spacing: 1.5px; }
.letter-spacing-default { letter-spacing: 1px; }
.letter-spacing-tight { letter-spacing: 0.5px; }

/* Make text unselectable */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Text Alignment */
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

/* Typography Variables */
:root {
  /* Global Font Family */
  --global-font-family: 'Open Sans', sans-serif;

  /* Header Font */
  --header-font-family: var(--global-font-family);

  /* Line-Heights */
  --line-height-large: 1.75;
  --line-height-default: 1.5;
  --line-height-small: 1.25;
  --line-height-normal: 1;

  /* Text-Transforms */
  --text-normal: normal;
  --text-transform-none: none;
  --text-transform-uppercase: uppercase;
  --text-transform-lowercase: lowercase;

  /* Headings */
  --heading-font-family: var(--global-font-family);
  --heading-font-weight: var(--font-weight-extrabold);
  --heading-line-height: 1.25;

  /* 32px */
  --h1: 2rem;
  /* 24px */
  --h2: 1.5rem;
  /* 20px */
  --h3: 1.25rem;
  /* 16px */
  --h4: 1rem;
  /* 14px */
  --h5: .875rem;
  /* 12px */
  --h6: .75rem;

  /* Font-Sizes */
  /* 48px */
  --font-xxx-large: 3rem;
  /* 44px */
  --font-xx-large: 2.75rem;
  /* 40px */
  --font-x-large: 2.5rem;
  /* 32px */
  --font-large: 2rem;
  /* 24px */
  --font-x-medium: 1.5rem;
  /* 20px */
  --font-medium: 1.25rem;
  /* 16px */
  --font-default: 1rem;
  /* 14px */
  --font-small: 0.875rem;
  /* 12px */
  --font-x-small: 0.75rem;
  /* 10px */
  --font-xx-small: 0.625rem;

  /* Font-Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}
