/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: var(--global-font-family);
	line-height: 1.25;
	margin: 0 0 0.75em 0;
}

.h-reset {
	margin: 0;
}

h1,
.h1 {
	font-size: var(--h1);
}

h2,
.h2 {
	font-size: var(--h2);
}

h3,
.h3 {
	font-size: var(--h3);
}

h4,
.h4 {
	font-size: var(--h4);
}

h5,
.h5 {
	font-size: var(--h5);
}

h6,
.h6 {
	font-size: var(--h6);
}

p {
	line-height: var(--line-height-default);
	font-weight: 300;
}

b,
strong {
	font-weight: 700;
}
