/*
* Bassplate
* Boilerplate for Basscss with cssnext
* http://github.com/basscss/bassplate
*
* Remove or comment out unneeded modules and import your own files.
* Adjust global media queries and custom properties below.
*
*/
/* Normalize */
@import 'normalize.css';

/* Main Body */
@import 'globals/body';

/* Basscss Modules */
@import 'basscss-layout';
@import 'basscss-align';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'globals/whitespace';
@import 'basscss-grid';
@import 'basscss-flexbox';
@import 'basscss-position';
@import 'basscss-hide';

/* Optional Modules (not included in Basscss by default) */
/*
@import 'basscss-type-scale';
@import 'basscss-typography';
@import 'basscss-border';
@import 'basscss-addons/modules/responsive-margin';
@import 'basscss-addons/modules/responsive-padding';
@import 'basscss-addons/modules/media-object';
@import 'basscss-addons/modules/all';
@import 'basscss-addons/modules/forms';
@import 'basscss-addons/modules/input-range';
@import 'basscss-addons/modules/progress';
@import 'basscss-addons/modules/btn';
@import 'basscss-addons/modules/btn-primary';
@import 'basscss-addons/modules/btn-outline';
@import 'basscss-addons/modules/btn-sizes';
@import 'basscss-addons/modules/colors';
@import 'basscss-addons/modules/background-colors';
@import 'basscss-addons/modules/border-colors';
@import 'basscss-addons/modules/darken';
@import 'basscss-addons/modules/lighten';
@import 'basscss-addons/modules/background-images';
*/

/* Theme */
@import 'globals/animations';
@import 'globals/colors';
@import 'globals/typography';
@import 'globals/anchors';
@import 'globals/list';
@import 'globals/forms';
@import 'globals/tooltips';
@import 'globals/buttons';
/*@import 'globals/carousel';*/

/* Wordpress Admin */
@import '/globals/editor';


/* Custom media queries */
@custom-media --desktop-large-min (min-width: 70em); /* 1120px */
@custom-media --desktop-large (max-width: 70em); /* 1120px */
@custom-media --desktop-min (min-width: 63.9376em); /* 1023px */
@custom-media --desktop (max-width: 63.9375em); /* 1023px */
@custom-media --tablet-min (min-width: 51.9375em); /* 831px */
@custom-media --tablet (max-width: 51.9375em); /* 831px */
@custom-media --phone (max-width: 39.9375em); /* 639px */
@custom-media --phone-small (max-width: 29.9375em); /* 479px */
@custom-media --desktop-large-height (min-height: 1800px);


/* Custom properties */
:root {
  --font-family: 'Open Sans', sans-serif;
  --line-height: 1.5;
  --heading-font-family: var(--font-family);
  --heading-font-weight: bold;
  --heading-line-height: 1.25;
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

  --bold-font-weight: bold;

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: .5rem;
  --form-field-padding-x: .5rem;

  --button-font-size: inherit;
  --button-font-weight: bold;
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;

  --container-width: 70em;

  --black:  #111;
  --gray:   #aaa;
  --silver: #ddd;
  --white:  #fff;
  --blue:   blue;

  --darken-1: rgba(0,0,0,.0625);
  --darken-2: rgba(0,0,0,.125);
  --darken-3: rgba(0,0,0,.25);
  --darken-4: rgba(0,0,0,.5);

  --border-width: 2px;
  --border-radius: 4px;
  --border-color: var(--darken-2);
  --default-border: var(--border-width) solid var(--gray);
  --hover-background-color: var(--darken-1);

  --link-color: var(--black);
  --button-background-color: var(--black);
  --pre-background-color: var(--gray);

  /* Custom Variables Overrides */
  --body-color: var(--black);
  --body-background-color: var(--gray);
}
