@import "globals/reboot";

/* Theme */
@import "globals/typography";
@import "globals/forms";
@import "globals/buttons";

/* Vendors */
/* @import "vendors/owl-carousel"; */

/* Wordpress Admin */
@import "/globals/editor";

/* Custom properties */
:root {
	--global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	--monospace-font-family: "Source Code Pro", Consolas, monospace;

	--h1: 2rem;
	--h2: 1.5rem;
	--h3: 1.25rem;
	--h4: 1rem;
	--h5: 0.875rem;
	--h6: 0.75rem;

	--container-width: 70em;

	--black: #111;
	--gray: #aaa;
	--silver: #ddd;
	--white: #fff;
	--blue: blue;

	--border-width: 1px;
	--border-radius: 5px;
	--border-color: var(--darken-2);
	--default-border: var(--border-width) solid var(--gray);
}
